<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb104807986697616</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1008048639825-bv9d3qav1c4osdtrd6nk8t1pi5j5musg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>0e23e61ea70191cfd98f3adb987a8c13c486ca9e</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>dcqNsFfKwyaoBP6UeIqnGkWO4</string>
					<key>consumerSecret</key>
					<string>YygXoIzAO7a6aHgyKXUnAdLDARQGDB1zPd6YN5eKONoUVfZxpc</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>104807986697616</string>
	<key>FacebookDisplayName</key>
	<string>Mhint</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
		<string>yt</string>
		<string>youtube</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mhint.eu</key>
			<string></string>
			<key>mhint.eu/privacy</key>
			<string></string>
		</dict>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>This permission generate a custom emergency for you from Mhint</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This permission generate a custom diet for you from Mhint</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This permission generate a custom diet for you from Mhint</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This permission generate a custom experience for you from Mhint</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This permission generate a custom experience for you from Mhint</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to use the microphone to enable dictation</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need to use the microphone to enable dictation</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirLTStd-Black.otf</string>
		<string>AvenirLTStd-Book.otf</string>
		<string>AvenirLTStd-Heavy.otf</string>
		<string>AvenirLTStd-Light.otf</string>
		<string>AvenirLTStd-Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
